/* Padrões */

:root {
  --c1: #e6e9f2;
  --c2: #ced1d9;
  --c3: #9d9fa6;
  --c4: #85878c;
  --c5: #797b80;
  --c6: #676a73;
  --c7: #5c5e66;
  --c8: #45474d;
  --c9: #2e2f33;
  --c10: #191a1c;
  --p1: #395fe5;
  --p2: #274ed7;
  --p3: #1d40bf;
  --s1: #f29255;
  --s2: #e58040;
  --s3: #cc6829;
  --grad1: linear-gradient(var(--s1) 0%, var(--s2) 50%, var(--s3) 100%);
  --grad2: linear-gradient(var(--p1) 0%, var(--p2) 50%, var(--p3) 100%);
}

.c1 {
  color: var(--c1);
}
.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.c5 {
  color: var(--c5);
}
.c6 {
  color: var(--c6);
}
.c7 {
  color: var(--c7);
}
.c8 {
  color: var(--c8);
}
.c9 {
  color: var(--c9);
}
.c10 {
  color: var(--c10);
}
.p1 {
  color: var(--p1);
}
.p2 {
  color: var(--p2);
}
.p3 {
  color: var(--p3);
}
.s1 {
  color: var(--s1);
}
.s2 {
  color: var(--s2);
}
.s3 {
  color: var(--s3);
}

.font-S {
  font: 500 20px/1.5 "Hanken Grotesk";
}

@media (max-width: 768px) {
  .font-S {
    font: 500 15px/1.5 "Hanken Grotesk";
  }
}

.font-M1 {
  font: 700 30px/1 "Hanken Grotesk";
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .font-M1 {
    font: 700 20px/1 "Hanken Grotesk";
  }
}

.font-M2 {
  font: 500 30px/1 "Tomorrow";
}
.font-M3 {
  font: 700 30px/1.66 "Hanken Grotesk";
}
@media (max-width: 768px) {
  .font-M3 {
    font: 700 20px/1.66 "Hanken Grotesk";
  }
}

.font-L {
  font: 500 75px/0.66 "Courier Prime";
}

@media (max-width: 768px) {
  .font-L {
    font: 500 50px/0.9 "Courier Prime";
  }
}

.font-XL {
  font: 500 75px/1.33 "Tomorrow";
}

@media (max-width: 768px) {
  .font-XL {
    font: 500 50px/1.33 "Tomorrow";
  }
}

/* Redefinição */

body,
h1,
h2,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* Estilos */

.container {
  max-width: 1225px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 1225px) {
  .container {
    max-width: 1024px;
  }
}

.header-bg {
  background: var(--c9);
  padding: 25px 0;
}

header .container {
  justify-content: space-between;
  align-items: baseline;
  padding: 0 50px;
}

.header-menu {
  display: flex;
  gap: 45px;
}

.header-menu a {
  padding: 5px;
  transition: all 0.3s;
}

.header-menu a:hover {
  color: var(--c1);
}

.header-menu a:last-child:hover {
  color: var(--s1);
}

@media (max-width: 1225px) {
  header .container {
    justify-content: space-between;
    align-items: center;
  }
  .header-menu {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .header-menu a[href="#contatos"],
  .header-menu a[href="#sobre"] {
    display: none;
    width: 0px;
  }
  .header-menu a[href="#projetos"] {
    color: var(--s1);
  }
}

@media (max-width: 768px) {
  header .logo {
    content: url("./static/logo2.svg");
  }
}

@media (max-width: 375px) {
  header .container {
    padding: 0 30px;
  }
}

.intro-bg {
  background-image: url("./static/intro.jpg");
}

.intro-conteudo {
  padding: 125px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

@media (max-width: 768px) {
  .intro-conteudo {
    padding: 75px 0 50px 0;
  }
}

@media (max-width: 425px) {
  .intro-conteudo {
    padding: 50px 0;
  }
}

.intro-conteudo h1 {
  color: white;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 768px) {
  .intro-conteudo h1 {
    margin-bottom: 30px;
  }
}

.intro-conteudo p {
  max-width: 75ch;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 75px;
}

@media (max-width: 768px) {
  .intro-conteudo p {
    margin-bottom: 50px;
  }
}

.intro-redes {
  display: flex;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 425px) {
  .intro-redes {
    gap: 25px;
  }
}

.intro-redes a {
  width: 75px;
  height: 75px;
  transition: all 0.2s;
}

@media (max-width: 425px) {
}

.intro-redes a:hover {
  margin: 0 25px;
}

@media (max-width: 768px) {
  .intro-redes a:hover {
    margin: 0 0;
  }
}

.projetos {
  display: grid;
  text-align: center;
  margin-top: 125px;
}

@media (max-width: 768px) {
  .projetos {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}

.projetos h1 {
  position: relative;
  margin-bottom: 52px;
}

.projetos h1::after {
  content: "";
  position: absolute;
  background-color: var(--s2);
  height: 2px;
  width: 75px;
  bottom: -2px;
  left: calc(50% - calc(75px / 2));
}

.projetos-conteudo {
  display: flex;
  gap: 120px 75px;
  max-width: 1225px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 95px;
}

@media (max-width: 425px) {
  .projetos-conteudo {
    gap: 150px 75px;
  }
}

.projeto-item {
  max-width: 350px;
}

.projeto-item h2 {
  position: relative;
  margin-bottom: 27px;
}

.projeto-item h2::after {
  content: "";
  position: absolute;
  background-color: var(--c2);
  height: 2px;
  width: 75px;
  bottom: 0px;
  left: calc(50% - calc(75px / 2));
}

.projeto-item img {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

@media (max-width: 425px) {
  .projeto-item img {
    width: 75%;
    height: 50%;
  }
}

.projeto-item p {
  margin-bottom: 70px;
  padding: 0 25px;
}

@media (max-width: 425px) {
  .projeto-item p {
    margin-bottom: 50px;
  }
}

.projeto-item a {
  background-color: var(--c6);
  padding: 20px 30px;
  border-radius: 5px;
  letter-spacing: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  /* box-sizing: border-box; */
}

.projeto-item a:hover {
  background-color: var(--p1);
}

.detalhe {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.sobre-mim h1 {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 75px;
}

.sobre-mim h1::after {
  content: "";
  position: absolute;
  background-color: var(--p2);
  height: 2px;
  width: 75px;
  bottom: -2px;
  left: calc(50% - calc(75px / 2));
}

.sobre-conteudo {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
}

.sobre-conteudo h2 {
  margin-left: 30px;
  position: relative;
  margin-bottom: 20px;
}

#programacao h2::before {
  content: url("./static/sobre-mim/programacao.svg");
  position: absolute;
  left: -30px;
}
#design h2::before {
  content: url("./static/sobre-mim/design.svg");
  position: absolute;
  left: -30px;
}
#ferramentas h2::before {
  content: url("./static/sobre-mim/ferramentas.svg");
  position: absolute;
  left: -30px;
}
#formacoes h2::before {
  content: url("./static/sobre-mim/formacoes.svg");
  position: absolute;
  left: -30px;
}
#idiomas h2::before {
  content: url("./static/sobre-mim/idiomas.svg");
  position: absolute;
  left: -30px;
}

.sobre-item {
  min-height: 205px;
  position: relative;
}

.sobre-tecnico .sobre-item-lista {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 190px));
}

.sobre-academico .sobre-item-lista {
  display: grid;
  grid-template-columns: auto;
}

.sobre-item-lista::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 1px;
  left: 30px;
  bottom: 30px;
  background-color: var(--c2);
}

.sobre-item:last-child ::after {
  height: 0;
}

.sobre-item-lista li {
  margin-bottom: 15px;
  margin-left: 40px;
  position: relative;
}

.sobre-item-lista :last-child {
  margin-bottom: 61px;
}

.sobre-item-lista li::before {
  position: absolute;
  content: "";
  background-color: var(--p1);
  width: 5px;
  height: 2px;
  left: -10px;
  top: 14px;
}

.contatos {
  background-color: var(--c8);
  padding-top: 75px;
  padding-bottom: 125px;
}

.contatos h1 {
  position: relative;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
}

.contatos h1::after {
  content: "";
  position: absolute;
  background-color: var(--s2);
  height: 2px;
  width: 75px;
  bottom: 0px;
  left: calc(50% - calc(75px / 2));
}

.contatos-tudo {
  max-width: 880px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.contatos h2 {
  color: white;
  position: relative;
  margin-bottom: 20px;
  margin-left: 30px;
}

.contatos li {
  margin-bottom: 50px;
  position: relative;
  margin-left: 40px;
}

.contatos li::before {
  position: absolute;
  content: "";
  background-color: var(--s1);
  width: 5px;
  height: 2px;
  left: -10px;
  top: 14px;
}

#telefone::before {
  content: url("./static/contatos/telefone.svg");
  position: absolute;
  left: -30px;
}
#email::before {
  content: url("./static/contatos/email.svg");
  position: absolute;
  left: -30px;
}
#algo::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 15px;
  height: 20px;
  width: 20px;
  background-color: white;
}

.contatos label {
  color: white;
  margin-bottom: 10px;
}

.contatos label + input {
  margin-bottom: 50px;
}

.contatos-form {
  display: flex;
  flex-direction: column;
  min-width: 490px;
}

.contatos-form input {
  min-height: 50px;
  padding: 0 15px;
  border-radius: 5px;
  color: black;
  border: none;
}

.contatos-form textarea {
  min-height: 150px;
  padding: 10px 15px;
  border-radius: 5px;
  color: black;
  border: none;
}

.contatos > a {
  display: flex;
  color: white;
  background: var(--grad1);
  display: flex;
  justify-self: center;
  padding: 20px 50px;
  border-radius: 5px;
  transition: all 0.3s;
}

.contatos > a:hover {
  padding: 20px 60px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--c9);
  padding: 10px 0;
}
